*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
}
header{
 
    width: 100%;
    align-items: center;
    height: 50px;
    background-color: #605c91;
    flex-wrap: wrap;
}
header ul{
    position: relative;
    width: 10010;
    height: 50px;
    background: #1B1464;
  
    backdrop-filter: blur(10px);
    border: 2px solid rgba(35, 39, 97, 0.692);
    border-radius: 8px;
    flex-wrap: wrap;
}
header ul li{
    position: relative;
    height: 100%;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    cursor: pointer;
    z-index: 1;
    list-style: none;
   justify-content: space-between;
   flex-wrap: wrap;
   
}
header ul li a{
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    flex-wrap: wrap;
}
header ul li a i{
    margin-right: 5px;
    flex-wrap: wrap;
}
header ul li:nth-child(1){
    width: 100px;
    flex-wrap: wrap;
}
header ul li:nth-child(2){
    width: 110px;
    flex-wrap: wrap;
}
header ul li:nth-child(3){
    width: 110px;
    flex-wrap: wrap;
}
header ul li:nth-child(4){
    width: 100px;
    flex-wrap: wrap;
}
header ul li:nth-child(5){
    width: 120px;
    flex-wrap: wrap;
}
header ul .hover{
       position: absolute;
       top: 0;
       height: 100%;
       border-radius: 8px;
       transition: all .5s ease 0s;
       flex-wrap: wrap;
}
header ul  .start, li:nth-child(1).hover{
    background: #F79F1F;
    width: 105px;
    left: 0;
    flex-wrap: wrap;
}
header ul li:nth-child(2):hover ~ .hover{
    background: #F79F1F;
    width: 115px;
    left: 100px;
    flex-wrap: wrap;
}
header ul li:nth-child(3):hover ~ .hover{
    background: #F79F1F;
    width: 115px;
    left: 220px;
    flex-wrap: wrap;
}
header ul li:nth-child(4):hover ~ .hover{
    background: #F79F1F;
    width: 110px;
    left: 320px;
    flex-wrap: wrap;
}
header ul li:nth-child(5):hover ~ .hover{
    background: #F79F1F;
    width: 120px;
    left: 437px;
    flex-wrap: wrap;
}
.bbc {
    width: 100px;
}
.box{
    position: relative;
    max-width: 400px;
    width: 100%;
    margin-top: -43px;
    margin-left: 70%;
}
.box .check:checked ~ .searchebox{
    max-width: 380px;
}
.check:checked ~ .icone{
    background: #fff;
    color: yellow;
    width: 60px;
    border-radius: 0 25px 0;;
}
.check{
    display: none;
}
.searchebox{
    position: relative;
    max-width: 50px;
    height: 40px;
    margin: auto;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0,0,0, .5);
    transition: all .3s ease-out;
}
.searchebox input{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background: rgb(209, 203, 203);
    outline: none;
    border: none;
    padding-left: 20px;
    font-size: 20px;
}
.searchebox .icone{
    position: absolute;
    right: -2px;
    width: 60px;
    height: 100%;
    text-align: center;
    line-height: 50px;
    background: #F79F1F;
    border-radius: 20px;
    font-size: 20px;
    color: #fff;
}
.section1{
    text-align: center;
    margin-top: 140px;
    font-size: xx-large;
    font-weight: 100;
}
.section2 {
    text-align: center;
    margin-top: 100px;
    font-size: x-large;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin: 70px 0;
}
.section2 p{
    margin: 70px;
}
.section3{
    padding: 20px;
    border-bottom: 1px solid rgb(128, 126, 126);
}
.section3 h5{
    font-size: 20px;
    font-weight: 300;
}
.section3 p{
    padding: 20px 0px;
}
.section3 .champs{
    font-weight: 100;
    color: rgb(128, 126, 126);
}
.section3 input{
    border: none;
    border-bottom: 2px solid rgba(0,0,0, 0.1);;
}
.inn input{
    color: #2B2A28;
    font-weight: 1000;
    font-size: 18px;
    background-color: #F79F1F;
    text-decoration: #2B2A28;
}
.inn input:hover{
    color: #fff;
    background-color: #1B1464;
    text-decoration: double;
    letter-spacing: 1px;
    transition: 0.8s;
}
.section3 .fontt p{
    color: #FFF1C9;
    padding: 70px 0;
}
.section4{
    padding: 50px;
}
.section4 .container{
    padding: 15px;
}
.section4  a{
    margin: 200px;
    margin-left:40px;
    text-decoration: none;
    color: #2B2A28;
    font-size: 20px;
    font-weight: 400;
}
.copyright{
    padding: 20px 40px;
    background-color: rgba(228,222,222,);
    text-align: center;
}
.copyright p:nth-child(1){
    color: #2B2A28;
    text-transform: uppercase;
}
.copyright a{
    color: #2B2A28;
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
}
.contact .titre-texte span{
    color: #2B2A28;
    font-size: 2em;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
   margin-top: -130px;
    overflow: hidden;
}
nav ul{
    position: relative;
    display: flex;
    align-items: center;
}
nav ul li{
    position: relative;
    list-style: none;
}
nav ul li a{
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff;
    background: var(--clr);
    font-size: 2rem;
    border-radius: 10px;
    text-decoration: none;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .2s ease;
}
nav ul li a::before{
    content: '';
    position: absolute;
    top: 55px;
    width: 60px;
    height: 60px;
    background: var(--clr);
    transform: rotateX(-70deg);
    box-shadow: 0 0 5px var(--clr),
    0 0 10px var(--clr),
    0 0 20px var(--clr),
    0 0 40px var(--clr),
    0 0 80px var(--clr);
    filter: blur(15px);
}
nav ul li a:hover{
   font-size: 3rem;

}
nav ul li a span{
    position: absolute;
    top: 0px;
    color: #fff;
    background: var(--clr);
    font-size: 1.5rem;
    border-radius: 50px;
    padding: 10px 15px;
    text-transform: uppercase;
    transform: scale(0);
    z-index: -1;
}
nav ul li a span::before{
    content: '';
    position: absolute;
    bottom: -12px;
    left: 50%;
    width: 25px;
    height: 25px;
    background: var(--clr);
    transform: translateX(-50%) rotate(45deg);
    box-shadow: 0 0 5 px var(--clr);
}
nav ul li  a:hover span{
    top: -100px;
    transform: scale(1);
    transition: .5s ease;
}